@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-15%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInSecondary {

}

@keyframes fadeInSecondary1 {
  0%,
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSecondary2 {
  0%,
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSecondary3 {
  0%,
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSecondary4 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSecondary5 {
  0%,
  99% {
    opacity: 0;
  }
}

@keyframes fadeBottom {
  0%,
  65% {
    top: -400px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeTop {
  0%,
  65% {
    bottom: -500px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fadeRight {
  0%,
  65% {
    left: -500px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeLeft {
  0%,
  65% {
    right: -500px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
